In [14]:
s = test.return_df
s.cor

                   IBM       WMT      SEHI
December-00  -0.090904  0.019237 -0.117592
January-01    0.317645  0.069174  0.066098
February-01  -0.107023 -0.118137 -0.062000
March-01     -0.037237  0.009678  0.533049
April-01      0.197132  0.024539  0.182197
May-01       -0.027836  0.000194  0.494118
June-01       0.015209 -0.055636 -0.059055
July-01      -0.073041  0.145487  0.305439
August-01    -0.048741 -0.140428 -0.044872
September-01 -0.082342  0.031764 -0.362416
October-01    0.178261  0.038392 -0.078947
November-01   0.070902  0.072951  0.028571

In [4]:
# Importing the Greedy function and other dependencies
import Constructive_Heuristic
import pandas as pd
import numpy as np
from itertools import combinations
from toolz import valmap

## Toy dataset of monthly prices of three stocks

In [5]:
monthly_price = pd.read_csv("Toy_dataset.txt",sep = " ",header=None, names = ["IBM","WMT","SEHI"], index_col=0)

print(monthly_price)

                  IBM     WMT   SEHI
November-00    93.043  51.826  1.063
December-00    84.585  52.823  0.938
January-01    111.453  56.477  1.000
February-01    99.525  49.805  0.938
March-01       95.819  50.287  1.438
April-01      114.708  51.521  1.700
May-01        111.515  51.531  2.540
June-01       113.211  48.664  2.390
July-01       104.942  55.744  3.120
August-01      99.827  47.916  2.980
September-01   91.607  49.438  1.900
October-01    107.937  51.336  1.750
November-01   115.590  55.081  1.800

## Run the greedy algorithm for the monthly_price data

In [6]:
np.random.seed(42)

test = Constructive_Heuristic.GREEDY(price_df = monthly_price, Lambda = 1, Capital = 1000, k=3, epsilon = 0.2, delta = 0.9, T= 10000)

### The monthly return for each stock

In [7]:
print(test.return_df)

                   IBM       WMT      SEHI
December-00  -0.090904  0.019237 -0.117592
January-01    0.317645  0.069174  0.066098
February-01  -0.107023 -0.118137 -0.062000
March-01     -0.037237  0.009678  0.533049
April-01      0.197132  0.024539  0.182197
May-01       -0.027836  0.000194  0.494118
June-01       0.015209 -0.055636 -0.059055
July-01      -0.073041  0.145487  0.305439
August-01    -0.048741 -0.140428 -0.044872
September-01 -0.082342  0.031764 -0.362416
October-01    0.178261  0.038392 -0.078947
November-01   0.070902  0.072951  0.028571

### The average return of each stock based on the historical data

In [9]:
test.avg_return

[0.02600215027777736, 0.00810131640567146, 0.07371590949198982]

### The co_variance matrix

In [10]:
test.co_variance

           IBM       WMT      SEHI
IBM   0.018641  0.003599  0.001310
WMT   0.003599  0.006437  0.004887
SEHI  0.001310  0.004887  0.068683

### The Standard Deviation

In [11]:
test.stdev

[0.13653219394667032, 0.08023053235942101, 0.26207396943384964]

### Sharpe Ration of each stock

In [12]:
test.sharpe_ratio

[['SEHI', 0.281279020771258],
 ['IBM', 0.19044702590755874],
 ['WMT', 0.10097547862924244]]

### Solution found

In [13]:
test.solution

{'SEHI': 0.4541519255598409,
 'IBM': 0.442240344477408,
 'WMT': 0.10360772996275108}